@font-face {
  font-family: 'iconfont'; /* Project id 4947753 */
  src:
    url('//at.alicdn.com/t/c/font_4947753_4o9sohhmjyj.woff2?t=1749708972040')
      format('woff2'),
    url('//at.alicdn.com/t/c/font_4947753_4o9sohhmjyj.woff?t=1749708972040')
      format('woff'),
    url('//at.alicdn.com/t/c/font_4947753_4o9sohhmjyj.ttf?t=1749708972040')
      format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-taiyang:before {
  content: '\e611';
}

.icon-yueliang:before {
  content: '\e6a2';
}
